#home .avatar,
#home .avatar-circle,
#home .avatar-square {
  width: 320px !important;
  height: 100 !important;
  max-width: 420px !important;
  border-radius: 0 !important;
}

#home .avatar img,
#home img.avatar,
#home .avatar-circle img,
#home .avatar-square img {
  width: 320px !important;
  height: 100 !important;
  max-width: 420px !important;
  object-fit: contain !important;
  border-radius: 0 !important;
}
